* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fcfcfc;
    --black: #0c0c0c;
    --gray: #c0c0c0;
}

body * {
    font-family: "Arial", sans-serif;
    color: var(--white);
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}